fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.20
httpx==0.28.1
pydantic-settings==2.7.0
python-dotenv>=1.0.0
requests

huaweicloudsdkcore
huaweicloudsdkrms
huaweicloudsdkbssintl

langchain>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.1.0
langgraph>=0.0.65

deepface
opencv-python-headless
numpy
